body {
  background-color: grey;
}

#hidden-audio {
  display: none;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pl-header {
  font-size: 30px;
  text-align: center;
}

#playlist {
  min-height: auto;
  max-height: 345px;
  overflow: auto;
  background-color: silver;
  padding: 5px;
}

.song {
  display: flex;
  justify-content: space-between;
}

.song:hover {
  background-color: ghostwhite;
  cursor: pointer;
}

.song-name {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.song-length {
  width: 20%;
}

#upload {
  display: flex;
  justify-content: center;
  width: 100%;
}

.volume-slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: silver;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* webkit specific, Chrome etc */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: brown;
  cursor: pointer;
}

/* moz specific, Firefox etc */
.volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: brown;
  cursor: pointer;
}

.volume-slider:hover {
  opacity: 1;
}

#waveform {
  width: 95%;
}

#controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.fas:hover {
  color: brown;
}

i {
  padding: 4 10px;
}

/* desktop styling */
@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  #playlist {
    position: fixed;
    bottom: 0px;
    float: right;
  }
}
